body {
    background-color: rgb(30, 30, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: rgb(220, 220, 225);
    overflow-x: hidden;
}

header {
    display: flex;
    padding-top: 10vh;
    z-index: 9;
}

/*Título*/
#main-title {
    font-family: Orbitron;
    font-size: 6vmin;
    color: rgb(220, 220, 225);
    padding: 0 0 0 5vw;
}

/*Estilos del menú principal*/
#menu-principal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.55vh;
    width: 100%;
    padding: 15px 15px;
    justify-content: center;
    background-color: rgb(40, 40, 45);
    border: 1px solid #444;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#menu-principal ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: -20px;
    padding: 1vmin;
    font-size: 2.5vmin;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

#menu-principal ul::-webkit-scrollbar {
    display: none;
}

#menu-principal li {
    margin-right: 2.3vmin;
    min-width: 120px;
}

#menu-principal a {
    font-family: 'Orbitron';
    text-decoration: none;
    color: rgb(200, 200, 205);
    padding: 5px 10px;
    transition: all 0.3s ease;
}


#menu-inicio {
    border: #a0a0a0 solid 0.4vmin;
    border-radius: 5px;
}

#menu-principal ul a:hover {
    color: rgb(40, 40, 45);
    background-color: rgba(200, 200, 205, 0.9);
    border-radius: 5px;
}

#selector-idioma {
    color: rgb(200, 200, 205);
    font-family: inherit;
    font-size: 2.5vmin;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #555;
    background-color: rgb(50, 50, 55);
}

#selector-idioma:hover {
    color: rgb(220, 220, 225);
    background-color: rgb(60, 60, 65);
}

#boton-tema {
    font-family: inherit;
    font-size: 2.2vmin;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(50, 50, 55);
    color: rgb(200, 200, 205);
    transition: all 0.3s ease;
}

#boton-tema:hover {
    background-color: rgb(200, 200, 205);
    color: rgb(40, 40, 45);
}


/* Estilos para la sección del modelo 3d */

.model-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vmin;
    width: 100%;
    gap: 1.5vw;
    margin: 2vh 0 2vh 0;
    z-index: 9;
}

/* contenedor Modelo 3d */

#model-container {
    width: 50vw;
    height: 100%;
    border-radius: 3pt;
}

/*Estilos Modelo 3d*/
model-viewer {
    display: flex;
    width: auto;
    height: 100%;
    border: hsl(0, 0%, 60%) solid 3pt;
    border-radius: 5pt;
    box-shadow: 0px 3px 24px 6px rgba(0, 0, 0, 0.5);
    z-index: 9;
}

#modelo1 {
    display: block;
    background-color: hsl(0, 0%, 20%);
}

#modelo2 {
    width: auto;
    display: none;
    background-color: hsl(0, 0%, 20%);
}

.hotspot {
    background: #55555575;
    border-radius: 32px;
    color: rgb(69, 228, 193);
    font-weight: bold;
    font-size: 2.5vmin;
    text-align: center;
    border: 2px solid rgb(69, 228, 193);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    cursor: pointer;
    height: 6vmin;
    width: 6vmin;
    position: relative;
    transition: opacity 0.3s;
}

.hotspot:not([data-visible]) {
    opacity: transparent;
    border: 2px solid #a0a0a0;
    color: #a0a0a0;
    box-shadow: none;
    height: 6vmin;
    width: 6vmin;
    pointer-events: none;
}

.hotspot:focus {
    border: 2px solid rgb(0, 168, 255);
    color: rgb(0, 168, 255);
    font-weight: bold;
    height: 6vmin;
    width: 6vmin;
    outline: none;
}

.hotspot * {
    opacity: 1;
    transform: translateY(-50%);
}

.progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(200, 200, 205, 0.9);
    background-color: rgba(50, 50, 55, 0.5);
}

.progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
}

.update-bar {
    background-color: rgba(200, 200, 205, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
}

/*Estilos para la info del modelo */
#model-info-container {
    max-width: 40vw;
    max-height: 55vmin;
    border-radius: 5pt;
    padding: 1vh 2vw;
    border: hsl(0, 0%, 60%) solid 3pt;
    box-shadow: 0px 3px 24px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(45, 45, 50);
}

.title-info {
    font-family: "Audiowide", sans-serif;
    font-size: 5vmin;
    margin-top: 0;
    text-align: center;
    color: hsl(0, 0%, 90%);
}

#title2,
#title3,
#title4 {
    font-family: "Audiowide", sans-serif;
    font-size: 5vmin;
    text-align: center;
    color: hsl(0, 0%, 90%);
}

#title2,
#content2,
#title3,
#content3,
#title4,
#content4 {
    display: none;
}

#content1,
#content2,
#content3,
#content4 {
    font-size: 2.5vmin;
    ;
}

/* Seccion de preview */
#preview-section {
    z-index: 9;
}

/*Menú del preview*/

#preview-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 8vmin;
    bottom: -2vh;
}

#preview-menu-ul {
    display: flex;
    background-color: rgb(40, 40, 45);
    font-size: 2.2vmin;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#preview-menu ul li {
    flex: 1;
    text-align: center;
    height: 100%;
}

#preview-menu ul li button {
    font-family: "Orbitron", sans-serif;
    width: 100%;
    height: 100%;
    border-top: #a0a0a0 solid 2pt;
    border-left: #a0a0a0 solid 1pt;
    border-right: #a0a0a0 solid 1pt;
    background: inherit;
    font-size: 2.2vmin;
    cursor: pointer;
    color: rgb(200, 200, 205);
}

#preview-menu button:hover {
    color: rgb(40, 40, 45);
    background-color: rgb(200, 200, 205);
}


/*Estilos para el preview de los mundos*/
#preview-container {
    display: flex;
    justify-content: center;
    gap: 2vmin;
    position: relative;
    width: 100%;
    height: 60vmin;
}


#preview-video {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
    border: 1px solid rgb(120, 120, 125);
    overflow: hidden;
}

.video1,
.video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.actual {
    opacity: 1;
}

.siguiente {
    opacity: 0;
}


#preview-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: 8;
}

#preview-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: 1px solid #a0a0a0;
    z-index: 9;
    backdrop-filter: blur(8px);
    background-color: rgba(30, 30, 35, 0.5);
}

#title-desc1,
#title-desc2,
#title-desc3,
#title-desc4,
#title-desc5 {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: rgb(220, 220, 225);
    font-size: 8vmin;
    margin-top: 0;
    margin-bottom: 0;
}

#title-desc2,
#title-desc3,
#title-desc4,
#title-desc5 {
    display: none;
}

#p-desc-ft1,
#p-desc-ft2,
#p-desc-ft3,
#p-desc-ft4,
#p-contador {
    text-align: center;
    color: rgb(200, 200, 205);
    font-size: 3.5vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    margin-bottom: 0;
    margin-top: 0;
}

#p-desc-ft2,
#p-desc-ft3,
#p-desc-ft4 {
    display: none;
}

#p-desc-sc {
    text-align: center;
    color: rgb(200, 200, 205);
    font-size: 3.5vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    margin-bottom: 0;
    margin-top: 0;
}

.boton a {
    text-decoration: none;
}

#boton-prueba,
#boton-reserva {
    background-color: rgba(60, 60, 65, 0.8);
    border: 2pt solid rgba(200, 200, 205, 0.8);
    border-radius: 8px;
    padding: 12px 35px;
    font-size: 2.2vmin;
    color: rgb(220, 220, 225);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2vh;
}

#boton-prueba:hover,
#boton-reserva:hover {
    background-color: rgba(0, 153, 255, 0.8);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*Estilos del form de reserva*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
}

.form-container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vmin;
    max-width: 70vmin;
    height: 70vmin;
    flex-direction: column;
    background-color: rgb(45, 45, 50);
    padding: 20pt 20pt 40pt 20pt;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.form-container h2 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin-bottom: 1vmin;
    color: rgb(220, 220, 225);
    font-size: 3vmin;
}

#reserva-form label {
    display: block;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 2.2vmin;
    color: rgb(200, 200, 205);
}

#nombre,
#edad,
#genero,
#telefono,
#correo,
#tipo-visor {
    width: 100%;
    padding: 2pt;
    margin-top: 0.5vh;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 2.2vmin;
    background-color: rgb(60, 60, 65);
    color: rgb(220, 220, 225);
}

#boton-env-res.boton {
    margin-top: 25px;
    width: 100%;
    padding: 1.5vmin;
    background-color: #1e90ff;
    color: #fff;
    font-size: 2.2vmin;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

#boton-env-res.boton:hover {
    background-color: #0078d4;
}

#mensaje-container {
    position: fixed;
    top: 40%;
    left: 35%;
    max-width: 45%;
    padding: 20pt 20pt 20pt 20pt;
    text-align: center;
    font-size: 2.2vmin;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    background-color: #3a3a3f;
    color: rgb(220, 220, 225);
    display: none;
    z-index: 1000;
}

.cerrar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2b2d2e;
    border: none;
    font-size: 3vmin;
    color: #ffffff;
    cursor: pointer;
}

.cerrar-btn:hover {
    background-color: rgb(1, 131, 253);
    color: #ffffff;
}



/*Estilos del footer*/
#footer {
    background-color: rgb(10, 10, 10);
    color: rgb(200, 200, 205);
    padding: 3vh 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vmin;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3vmin;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    color: rgb(180, 180, 185);
    font-size: 1vmin;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #00bcd4;
}

.footer-info p {
    font-size: 2.2vmin;
    margin: 1vmin 0;
}

.footer-info a {
    text-decoration: none;
    color: rgb(180, 180, 185);
}

.footer-social a {
    text-decoration: none;
    color: rgb(180, 180, 185);
    font-size: 2.2vmin;
    margin: 0 1vw;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #00bcd4;
}

/* Pantallas pequeñas */
@media (max-width: 600px) {  

    .model-area {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        gap: 0;
    }

    #model-container {
        order: 1;
        width: 100%;
        max-width: none;
        height: 60vmin;
    }

    #model-info-container {
        order: 2;
        width: 100%;
        max-width: none;
        border: none;
        box-shadow: none;
        padding: 2vh 5vw;
    }

    .title-info {
        font-size: 8vmin;
    }

    #content1, #content2, #content3, #content4 {
        font-size: 3vmin;
        margin-left: 5vmin;
    }

    model-viewer {
        box-shadow: none;
    }

    /* título principal */
    #main-title {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
        text-align: center;
        padding: 5vmin 5vmin;
    }

    /* Preview section  */
    #preview-section {
        margin-top: 0;
    }

    #preview-container {
        height: 80vmin;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }

    #boton-prueba {
        order: 1;
    }

    #boton-reserva {
        order: 2;
    }

    /* Footer  */
    #footer {
        padding: 4vh 0;
    }

    .footer-content {
        flex-direction: column;
        gap: 3vmin;
        padding: 0 4vw;
    }

    .footer-info {
        flex-direction: column;
        gap: 2vmin;
        width: 100%;
    }

    .footer-info p {
        gap: 0;
        font-size: 5vmin;
        width: 100%;
    }

    .footer-links ul {
        flex-direction: column;
        gap: 2vmin;
    }

    .footer-links a {
        font-size: 2.5vmin;
    }

    .footer-social {
        width: 100%;
        margin-top: 2vmin;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .footer-social a {
        font-size: 5vmin;
        margin: 0 3vw;
    }
}
