.login-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vmin;
    max-width: 70vmin;
    height: fit-content;
    flex-direction: column;
    background-color: #fff;
    padding: 20pt 20pt 20pt 20pt;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin-bottom: 1vmin;
    font-size: 4vmin;
}

#login-form label {
    display: block;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 2.2vmin;
}

#pass,
#email {
    width: 100%;
    padding: 2pt;
    margin-top: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 2.2vmin;
}

#boton-login.boton {
    margin-top: 25px;
    width: 100%;
    padding: 1.5vmin;
    background-color: #1e90ff;
    color: #fff;
    font-size: 2.2vmin;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

#boton-login.boton:hover {
    background-color: #007acc;
}

#footer {
    position: absolute;
}

#mensaje-container {
    top: 43%;
    left: 43%;
}

@media (max-width: 768px) {
    .login-container {
        top: 35%;
        width: 70vmin;
        height:70vmin;
    }

    .login-container h2 {
        margin-bottom: 4vmin;
        font-size: 7vmin;
    }

    #login-form label {
        font-size: 4vmin;
    }

    #pass,
    #email {
        font-size: 4vmin;
    }

    #boton-login.boton {
        font-size: 4vmin;
    }

    #boton-login.boton:hover {
        background-color: #007acc;
    }

    #mensaje-container {
        top: 35%;
        left: 25%;
        max-width: 45%;
        text-align: center;
        font-size: 6vmin;
        padding: 10pt 10pt 10pt 10pt;
    }

    #loading-indicator {
        color: black;
        font-size: 6vmin;
    }    
}