#txtreal1,
#txtreal2,
#txtreal3,
#txtreal4 {
    font-size: 2.2vmin;
}

#equipo-real {
    display: none;
}

#ruido {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/imagenes/ruido.gif') repeat;
    background-size: cover;
    z-index: 2;
}

#audio {
    display: none;
}

.team {
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border: hsl(0, 0%, 0%) solid 3pt;
    border-radius: 5pt;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.team-intro {
    text-align: center;
    margin-bottom: 40px;

}

.team-intro h2 {
    font-family: Orbitron;
    font-size: 6vmin;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.team-intro p {
    font-size: 3vmin;
    text-align: center;
    font-family: Orbitron;
    color: #555;
}

.team-members {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.member {
    flex: 1;
    min-width: 30vmin;
    width: 100vmin;
    text-align: center;
    background-color: #fff;
    border-top: black solid 2pt;
    border-left: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    background: inherit;
    padding: 1.5vmin;
    text-align: center;
    border-radius: 10pt;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.member a {
    text-decoration: none;
}

.img-fake {
    width: 150px;
    height: 200px;
}

.member img {
    display: inline-block;
    border-radius: 10%;
    width: 40px;
    height: 40px;
}

.member h3 {
    font-size: 4vmin;
    margin-bottom: 5px;
}

.member .quote1,
.member .quote2,
.member .quote3,
.member .quote4,
.member .quote5,
.member .quote6,
.member .quote7,
.member .quote8 {
    font-size: 2.5vmin;
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}

.member p {
    font-size: 2.8vmin;
}


.flip-container {
    perspective: 1000px;
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5%;
}

.front img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.back a {
    color: #000;
    font-size: 2.2vmin;
    text-decoration: none;
}

.back a:hover {
    color: #333;
}

#real {
    background-color: darkblue;
}

#realidad {
    background-color: darkblue;
    color: white;
    height: 10vh;
    border: 0;
    font-family: Orbitron;
    font-size: 2.2vmin;
    cursor: pointer;
}

@media (max-width: 600px) {
    .member {
        padding: 2vmin 2vmin 2vmin 2vmin;
    }

    .flip-container {
        width: 100%;
        height: 44vmin;
    }

    .front img {
        width: 100%;
        height: 100%;
    }

    .img-fake {
        width: 100%;
        height: 100%;
    }
}